<div class="jumbotron">
  <h3 align="center">Closest Pickup location</h3>
</div>
<p align="center">Enter the truck number to find the nearest pick up location in the google maps.
  This is done done using KD Tree.
</p>
<div class = "container">
    <div class="row">
        <div class="col-md-4">
            <h1>Enter the truck number</h1>
            <form>
               <div class = "form-group">
                  <label for = "latitude">Truck number</label>
                  <input type = "text" class = "form-control" id = "latitude" required
                     [(ngModel)] = "tno" name = "longitude">
               </div>
               <button type="submit" class="btn btn-primary" (click) =searchtopic()>submit</button>
            </form><br>
            <p >Enter the truck number :
              the truck number should be between 10000 and 20000
            </p><br>
            <h4>The co-ordinates of the closest pickup location</h4>
            <p>latitude:{{lat}}</p>
            <p>latitude:{{lng}}</p>
        </div>
        <div class="col-md-8">
            <agm-map [latitude]="lat" [longitude]="lng">
                <agm-marker [latitude]="lat" [longitude]="lng"></agm-marker>
            </agm-map>
            
        </div>
    </div>
  


  

</div>